<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
  <link rel="stylesheet" href="/stylesheets/app.css">
  <title>Blog App</title>
</head>

<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><i class="paper plane outline icon"></i> Blog Site</div>
      <a href="/" class="item">Home</a>
      <a href="/blogs/new" class="item">New Blog</a>
      <div class="right menu">
        <div class="item">
          <span>
            Created by <a href="https://www.rohangautam.com.np" target="_blank">Rohan Gautam</a>
          </span>
          <span>&nbsp;&mdash;&nbsp;</span>
          <span>View this project on <a href="https://github.com/RohanRajGautam/RESTful-Blog-App"
              target="_blank">myGithub</a>
          </span>
        </div>
      </div>
    </div>
  </div>